@import "tailwindcss";

@theme {
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
}
body {
  @apply bg-neutral-900 dark:bg-neutral-950 text-neutral-0;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
/* global.css */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: hsl(243, 23%, 30%); /* dark background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(243, 27%, 20%); /* blue scroll */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black; /* darker on hover */
}
